<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.melly.demosbsj.spot.ISpotMybatisMapper">

    <insert id="insertSpot" parameterType="SpotDto">
        INSERT INTO spot_tbl (id,title,addr1,tel,zipcode,mapX,mapY,firstimage,contentId,areaCodeId,contentTypeId)
        VALUES (#{code}, #{title}, #{addr1}, #{tel}, #{zipcode}, #{mapX}, #{mapY}, #{firstimage},#{contentId},#{areaCodeId},#{contentTypeId})
    </insert>

</mapper>